footer .footer__container{
    display: flex;
    justify-content: space-between;
    margin: 0 350px;
    height: 225px;
    .right__content,
    .left__content{
        margin-top: 55px;
    }
    .left__content{
        p{
            font-family: 'Montserrat' ,sans-serif;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 600;
            color: $p_color;
            margin-top: 19px;
            padding: 19px;
            letter-spacing: 0.1px;
        }
    }
    .right__content{
        form{
            margin-right: 64px;
        }
        label{
            margin-top: 4px;
            letter-spacing: 0.1px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $p_color;
        }
        input[type = "email"] {
            border: 1px solid $p_color;
            width: 310px;
            padding: 15px;
            border-radius: 6px;
            margin-top: 7px;
            letter-spacing: 1.1px;
        }
        input[type = "submit"] {
            border: 1px solid $pink;
            width: 101px;
            border-radius: 6px;
            font-size: 15px;
            height: 48px;
            margin-left: 8px;
            margin-top: 2px;
            color: white;
            background-color: $pink;
            letter-spacing: 0.7px;
            @media (min-width: 850px) {
                &:hover{
                transform: scaleX(1.015);
                background-color: lightcoral;
                cursor: pointer;
                }
            }
        }
    }
}