@media (max-width: 1024px) {
    header .slider .slider__item .cta{
        left: 24%;
    }
    header .container .topbar__container .navbar ul {
        width: 600px;
        li:not(:last-child){
        margin-right: 0px;
        }
    }
    main{
        .whyama{
            .ama__features{
                flex-direction: column;
                height: max-content;
                margin: 70px auto;
                gap: 30px;
                .feature{
                    padding: 0 21px;
                    margin: 0;
                }
                .feature__filters img,
                .feature__autofocus img,
                .feature__touchid img {
                    margin: 0;
                }
            }
        }
    }
    .col-lg-6{
        max-width: 100%;
    }
    main .share_instantly{
        height: max-content;
        .row .image {
            margin: 30px auto;
            display: block;
            img{
            width: 50%;
            display: block;
            margin: 0 auto;
            }
        }
        .slider .slick-dots{
            top: 95%;
        }
        .row{
            flex-direction: column-reverse;
        }
        .share__content{
            margin: 0 auto;
            margin-top: 100px;
            padding: 0 10%;
            text-align: center;
            p{
                padding: 0;
            }
            .youtube__button{
                flex-direction: column;
                text-align: center;
                img{
                    display: block;
                    margin: 0 auto;
                }
                p{
                    padding: 0;
                }
            }
        }
    }
    main .new_features{
        height: max-content;
        padding: 0;
        .phone__text{
            padding: 50px 0;
            text-align: center;
        }
        .slider__comments{
            .slider{
                width: 415px;
                display: block;
                margin: 0 auto;
            }
        }
        .phone__picture img{
            margin: 50px auto;
            display: block;
            width: 50%;
        }
    }
    .compatibility .container{
        max-width: max-content;
        .compatibility__content{
            padding: 70px 20px;
        }
    }
    footer .footer__container .right__content form{
        margin-right: 0;
    }
}