// Tablet adaptive

@media (max-width: 850px) {
    header {
        .navbar{
            display: none;
        }
    }
    header .slider .banner__container{
        padding: 10px;
        h1{
            margin: 0;
            left: 25%;
            top: 25%;
            font-size: 42px;
        }
        .cta{
            left:0;
            right:0;
            top: 50%;
            margin-left:auto;
            margin-right:auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: fit-content;
            margin-bottom: 200px;
            .appstore,
            .playmarket{
                width: fit-content;
            }
        }
        &::before{
            content: "";
            position: absolute;
            bottom: -100px;
            height: 650px;
            width: 150%;
            margin-left: -50px;
        }
    }
    header .container .topbar__container {
        justify-content: space-between;
        padding: 0 50px;
        .burger__menu{
            display: flex;
            justify-content: space-between;
            img{
                width: 30px;
                z-index: 21;
            }
        }
    }
    header{
        .burger__nav{
            position: absolute;
            height: max-content;
            background-color: #fff;
            width: 100%;
            z-index: 20;
            text-align: center;
            top: 80px;
            margin: 0 auto;
            ul{
                    a{
                        padding: 20px 50px;
                        color: $pink;
                        font-size: 22px;
                        font-weight: bold;
                    }
                
            }
        }
    }
    main .download {
        height: max-content;
        .download__content{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 88px;
            img{
                display: block;
                margin: 0 auto;
            }
            .content__text .donwload__buttons{
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                .appstore,
                .playmarket{
                    margin: 0 auto;
                }
            }
            .shadow{
                display: none;
                opacity: 0;
            }
            h2,
            p{
                text-align: center;
            }
            .content__text .donwload__buttons{
                margin: 53px auto;
            }
        }
    }
    main{
        .whyama{
            .ama__features{
                flex-direction: column;
                height: max-content;
                margin: 70px auto;
                gap: 30px;
                .feature{
                    padding: 0 21px;
                    margin: 0;
                }
                .feature__filters img,
                .feature__autofocus img,
                .feature__touchid img {
                    margin: 0;
                }
            }
        }
    }
    main .share_instantly{
        height: max-content;
        .row .image {
            margin: 30px auto;
            display: block;
            img{
            width: 50%;
            display: block;
            margin: 0 auto;
            }
        }
        .slider .slick-dots{
            top: 95%;
        }
        .row{
            flex-direction: column-reverse;
        }
        .share__content{
            margin: 0 auto;
            margin-top: 100px;
            padding: 0 10%;
            text-align: center;
            p{
                padding: 0;
            }
            .youtube__button{
                flex-direction: column;
                text-align: center;
                img{
                    display: block;
                    margin: 0 auto;
                }
                p{
                    padding: 0;
                }
            }
        }
    }
    main .new_features{
        height: max-content;
        padding: 0;
        .phone__text{
            padding: 50px 0;
            text-align: center;
        }
        .slider__comments{
            .slider{
                width: 415px;
                display: block;
                margin: 0 auto;
            }
        }
        .phone__picture img{
            margin: 0 auto;
            display: block;
            width: 50%;
        }
    }
    main .taken_with_ama .twa__text{
        margin-top: 40px;
        margin-left: auto;
    }
    main .taken_with_ama .twa__photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 10px 20px;
        margin-bottom: 30px;
        .photo{
            width: 100%;
            height: auto;
            > img{
                width: 100%;
                height: 100%;
            }
            .photo__likes{
                display: flex;
                bottom: 0px;
                height: 53px;
                padding: 10px 20px;
                .likes{
                    img{
                        transform: scale(1);
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    main .compatibility {
        height: max-content;
        .compatibility__content .compatibility__mobiles{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 35px;
            p{
                text-align: left;
                margin: 0;
                width: 100%;
            }
            h4{
                margin: 20px;
            }
            hr{
                margin: 0;
            }
        }   
    }
    footer .footer__container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        .right__content{
            form{
                margin: 0;
            }
        }
        .left__content{
            margin-top: 0px;
        }
    }
}