
// Large mobile screens

@media (max-width: 450px) {
    header .slider .banner__container{
        padding: 10px;
        h1{
            margin: 0;
            left: 15%;
            top: 20%;
            font-size: 30px;
        }
        .cta{
            left:0;
            right:0;
            top: 50%;
            margin-left:auto;
            margin-right:auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: fit-content;
            margin-bottom: 200px;
            .appstore,
            .playmarket{
                width: fit-content;
            }
        }
        &::before{
            content: "";
            position: absolute;
            bottom: -100px;
            height: 650px;
            width: 150%;
            margin-left: -50px;
        }
    }
    main .whyama{
        padding-top: 50px;
        h2{
            font-size: 32px;
        }
        .ama__features {
            margin: 30px auto;
            .feature{
                img{
                    width: 30%;
                    height: auto;
                }
            }
        }
    }
    main .new_features {
        .slider__comments {
            .slider{
                width: 300px;
            }
            .phone__features{
                width: 300px;
                height: 250px;
                text-align: left;
                img{
                    margin: 0;
                }
                .phone__features__text{ 
                    h4{
                        margin: 0;
                        font-size: 16px;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                    }
                }
            }
        }
        .phone__picture{
            img{
                width: 50%;
            }
        }
    }
    main .taken_with_ama .twa__text{
        margin-left: auto;
        h3{
            font-size: 32px;
        }
        p{
        width: fit-content;
        }
    }
    main .taken_with_ama .twa__photos{
        grid-template-columns: 1fr;
    }
    main .taken_with_ama .twa__photos .photo .photo__likes{
        padding: 15px;
        img{
            width: 14px;
            height: 12px;
        }
        p{
            font-size: 14px;
            margin: 0;
        }
        .likes{
            margin: auto 0;
            p{
                font-size: 16px;
            }
        }
    }
    main .compatibility .compatibility__content{
        padding: 50px 10px;
    }
    main .download .download__content {
        .download_img{
            width: 30%;
            height: 30%;
        }
        .content__text{
            h2{
                font-size: 42px;
            }
        }
    }
    main .compatibility .compatibility__content .compatibility__mobiles{
        .compatibility__ios img{
            width: 40%;
        }
        .compatibility__android img{
            width: 80%;
        }
    }
    main .download .download__content{
        margin: 0 auto;
    }
    footer .footer__container{
        height: auto;
        .right__content {
            input[type="email"]{
                width: 100%;
            }
            input[type="submit"]{
                margin: 20px 0;
            }
        }
    }
}