@import "nullstyle.scss";
@import "slider.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');

$pink: #de5d5d;

body{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.2;
}
// .container{
//     max-width: 1170px !important;
//     padding: 0;
// }
header{
    background-color: $pink;
    .container{
        max-width: 1170px;
        padding: 0;
        margin: 0 auto;
        position: relative;
        .topbar__container {
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            img{
            padding-top: 34px;
            
            }
            .burger__menu{
                display: none;
            }
            .navbar {
                padding: 0;
                padding-bottom: 1px;
                ul{
                width: 761px;
                color: white;
                display: flex;
                justify-content: space-between;
                position: relative;
                .nav__active{
                    &::before{
                        content: "";
                        position: absolute;
                        margin-left: -24px;
                        margin-top: -42px;
                        width: 82px;
                        height: 5px;
                        background-color: #fff;
                    }
                }
                    li{
                        font-size: 18px;
                        line-height: 1.2;
                        font-weight: 400;
                        
                        a{
                            color: #ffffff;
                        }
                        &:not(:last-child){
                            margin-right: 42px;
                        }
                        &:nth-child(3),
                        &:nth-child(5){
                            margin-right: 43px;
                        }
                        &:nth-child(4){
                            margin-right: 46px;
                        }
                        &:nth-child(6){
                            margin-right: 39px;
                        }
                    }
                    
                }
            }
        }
    }
    .banner__container{
        // width: min-content;
        height: 722px;
        margin: auto;
        position: relative;
        color: #fff;
        overflow: hidden;
        padding: 33px;
        padding-left: 34px;
        padding-right: 15px;
        &::before{
            position: absolute;
            bottom: -250px;
            height: 650px;
            width: 150%;
            margin-left: -300px;
            content: "";
            -webkit-filter: blur(100px);
            filter: blur(150px);
            z-index: 2;
            background-color: $pink;
        }
        h1{
            position: absolute;
            top: 230px;
            left: 376px;
            font-size: 88px;
            font-family: 'Montserrat' ,sans-serif;
            line-height: 1.2;
            font-weight: 600;
            letter-spacing: 1.15px;
            z-index: 3;
        }
        .cta{
            position: absolute;
            top: 408px;
            left: 530px;
            width: 543px;
            display: flex;
            justify-content: space-between;
            img{
                float: left;
                margin: 0;
                margin-top: -1px;
                margin-left: 9px;
            }
            p{
                font-size: 30px;
                line-height: 1.2;
                margin-left: 65px;
                margin-top: 6px;
            }
            .appstore,
            .playmarket{
                width: 257px;
                height: 77px;
                border: 3px solid white;
                text-align: center;
                margin: 0;
                padding: 10px;
                border-radius: 5px;
                z-index: 3;
            }
        }
    }
}
main{
    .whyama{
        background-color: #fff;
        padding-top: 100px;
        font-family: 'Montserrat' ,sans-serif;
        h2{
            text-align: center;
            font-size: 48px;
            margin-left: 10px;
        }
        .ama__features{
            display: flex;
            justify-content: space-between;
            margin-top: 61px;
            gap: 90px;
            height: 476px;
            .feature{
                text-align: center;

            }
                h3{
                    margin-top: 36px;
                    margin-left: -10px;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 600;
                    color: #666666;
                    margin-bottom: 0;
                }
                img{
                    width: 230px;
                    height: 230px;
                }
                p{
                    font-family: 'Varela Round';
                    font-size: 16px;
                    padding: 0 30px;
                    line-height: 1.5;
                }
                .feature__autofocus{
                    h3{
                        margin-left: 9px;
                        margin-top: 38px;
                    }
                    img{
                        margin-right: -25px;
                        margin-top: -2px;
                    }
                    .feature__text p{
                        margin-left: 13px;
                        padding: 0px 10px;
                    }
                }
                .feature__touchid{
                    padding: 0 21px;
                    margin-left: 12px;
                    h3{
                        margin-left: -4px;
                    }
                    .feature__text p{
                        // margin-left: 15px;
                        padding: 0px 20px;
                    }
                }
                .feature__filters{
                    h3{
                        margin-left: -13px;
                    }
                    img{
                        margin-left: -13px;
                    }
                    .feature__text p{
                        margin-right: 11px;
                        padding: 0px 17px;
                    }
                }
        }
    }
    .share_instantly{
        background-color: #262626;
        height: 734px;
        overflow: hidden;
        .container{
            max-width: 1170px;
            padding: 0;
        }
        .row .image{
            margin-top: 72px;
            margin-left: -96px;
        }
        .share__content{
            margin-top: 170px;
            padding-top: 15px;
            padding-left: 96px;
            h3{
                font-family: 'Montserrat' ,sans-serif;
                font-size: 44px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 2px;
                color: white;
            }
            p{
                font-family: 'Varela Round', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #aeaeae;
                margin-top: 22px;
                letter-spacing: 0.05px;
                padding-right: 20px;
            }
            .youtube__button{
                margin-top: 51px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;
                padding: 1px;
                img{
                    width: max-content;
                    height: max-content;
                }
                p{
                    margin: 0;
                    margin-top: -6px;
                    margin-left: 1px;
                    padding-right: 25px;
                    font-family: 'Varela Round';
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #aeaeae;
                }
            }
        }
    }
    .new_features{
        background-color: #313131;
        height: 803px;
        overflow: hidden;
        padding-right: 0;
        .phone__text{
            color: white;
            padding-top: 167px;
            padding-left: 84px;
            padding-right: 0;
            h3{
                font-family: 'Montserrat' ,sans-serif;
                font-size: 48px;
                line-height: 1.2;
                font-weight: 600;
                color: #ffffff;
                letter-spacing: 0.55px;
            }
            p{
                font-family: 'Varela Round';
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #aeaeae;
                margin-top: 22px;
                padding-left: 5px;
                padding-right: 15px;
                letter-spacing: 0.05px;
            }
            }
            .slider__comments{
                padding-right: 12px;
                padding-left: 5px;
                .phone__features{
                    display: flex;
                    justify-content: space-between;
                    width: 470px;
                    height: 232px;
                    margin-top: 51px;
                    gap: 30px;
                    padding: 20px;
                    // margin-left: 8px;
                    background-color: white;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    img{
                        width: 89px;
                        height: 89px;
                        margin-top: 24px;
                        margin-left: 10px;
                    }
                    h4{
                        font-family: 'Montserrat' ,sans-serif;
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 600;
                        margin-top: 14px;
                        letter-spacing: 0.2px;
                        margin-left: -2px;
                        color: $pink;
                    }
                    .phone__features__text p{
                        margin-top: 0px;
                        margin-left: -4px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #666666;
                    }
                    .pink-block{
                        width: 100%;
                        height: 43px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: $pink;
                    }
                }
            }
        }
    .slider .slick-dots{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 86%;
            left: 12%;
            padding: 5px 2px;
            margin-left: -28px;
        }
    .phone__picture img{
            margin-top: 100px;
            margin-left: 59px;
            filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.6));
    }

    .taken_with_ama{
        .twa__text{
        margin-top: 70px;
        margin-left: 66px;
            h3{
                font-family: 'Montserrat' ,sans-serif;
                font-size: 48px;
                line-height: 1.2;
                font-weight: 600;
                color: $pink;
            }
            p{
                margin-left: 5px;
                margin-top: 20px;
                width: 455px;
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #666666;
                letter-spacing: 0.05px;
            }
        }
        .twa__photos{
            display: flex;
            margin-top: 76px;
            .photo{
                // width: 25%;
                height: 519px;
                display: flex;
                overflow: hidden;
                flex-direction: row;
                position: relative;

                transition: all 0.5s ease-in-out;
                img{
                    transform: scale(1.235);
                }
                @media (min-width: 800px) {
                    &:hover {
                    height: 557px;
                    margin-top: -38px;
                    .photo__likes{
                        display: flex;
                        bottom: 0px;
                        
                    }
                }
                .photo__likes{
                    transition: all 0.2s ease;
                }
                }
                
            }
            .photo1{
                width: 438px;
                img{
                    margin-left: 22px;
                    transform: scale(1.235);
                }
            }
            .photo2{
                width: 545px;
                img{
                    margin-top: 72px;
                    margin-left: 56px;
                    transform: scale(1.6);
                }
            }
            .photo3{
                width: 546px;
                img{
                    transform: scale(1.24);
                    margin-left: -158px;
                    margin-top: 46px;
                }
            }
            .photo4{
                width: 472px;
                img{
                    transform: scale(1.36);
                    margin-left: -69px;
                    margin-top: 27px;
                }
            }
            .photo__likes{
                display: flex;
                height: 88px;
                color: white;
                position: absolute;
                background-color: #151515;
                bottom: -88px;
                width: 100%;
                padding: 25px;
                justify-content: space-between;
                .quote_likes{
                    margin-left: 7px;
                    margin-top: 7px;
                }
                .likes{
                    display: flex;
                    margin-top: 5px;
                    margin-right: 16px;
                    img{
                    margin: 0;
                    float: left;
                    margin-right: 10px;
                    }
                    p{
                        font-size: 23px;
                        font-family: 'Montserrat',sans-serif;
                        color: #de5d5d;
                        margin: 0;
                        font-weight: 600;
                        margin-right: -5px;
                        margin-top: -2px;
                    }
                }
                p{
                    font-size: 17px;
                    font-family: 'Montserrat' ,sans-serif;
                }
                
            }
        }
    }
    .download{
        background-color: $pink;
        width: 100%;
        height: 722px;
        .download__content{
            display: flex;
            padding-top: 124px;
            margin-left: 67px;
            gap: 150px;
            position: relative;
            img{
                margin-top: 100px;
                height: 100%;
            }
            .shadow{
                position: absolute;
                width: 370px;
                height: 384px;
                opacity: 0.05;
                top: 128px;
                left: 16px;
            }
            .content__text{
                color: #fff;
                line-height: 1.2;
                h2{
                    font-family: 'Montserrat' ,sans-serif;
                    font-size: 48px;
                    font-weight: 600;
                    margin-left: 8px;
                    margin-top: 44px;
                    letter-spacing: 0.4px;
                }
                p{
                    font-family: 'Varela Round';
                    font-size: 24px;
                    font-weight: 400;
                    padding: 8px;
                }
                .donwload__buttons{
                    width: 543px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 33px;
                    margin-left: 7px;
                    img{
                        float: left;
                        margin: 0;
                        margin-left: 10px;
                    }
                    p{
                        font-size: 30px;
                        line-height: 1.2;
                        margin-left: 65px;
                        margin-top: -2px;
                    }
                    .appstore,
                    .playmarket{
                        width: 257px;
                        height: 77px;
                        border: 3px solid white;
                        text-align: center;
                        margin: 0;
                        padding: 10px;
                        border-radius: 5px;
                        z-index: 3;
                    }
                }
            }
        }
    }
    .compatibility{
        background-color: #e7e7e7;
        height: 444px;
        .compatibility__content{
            padding: 87px 70px;
            font-family: 'Montserrat' ,sans-serif;
            h3{
                font-size: 24px;
                line-height: 1.2;
                font-weight: 600;
                color: #666666;
                padding-bottom: 5px;
            }
            h4{
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                color: #666666;
                margin: 0;
            }
            hr{
                border-top: 2px solid rgba(0,0,0,.1);
            }
            .compatibility__mobiles{
                display: flex;
                gap: 52px;
                padding-top: 19px;
                p{
                    width: 450px;
                    font-family: 'Varela Round';
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #666666;
                    letter-spacing: 0.05px;
                }
            }
        }
    }
}
footer .footer__container{
    display: flex;
    justify-content: space-between;
    margin: 0 350px;
    height: 225px;
    .right__content,
    .left__content{
        margin-top: 55px;
    }
    .left__content{
        p{
            font-family: 'Montserrat' ,sans-serif;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 600;
            color: #666666;
            margin-top: 19px;
            padding: 19px;
            letter-spacing: 0.1px;
        }
        
    }
    .right__content{
        form{
            margin-right: 64px;
        }
        label{
            margin-top: 4px;
            letter-spacing: 0.1px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #666666;
        }
        input[type = "email"] {
            border: 1px solid #666666;
            width: 310px;
            padding: 15px;
            border-radius: 6px;
            margin-top: 7px;
            letter-spacing: 1.3px;
        }
        input[type = "submit"] {
            border: 1px solid $pink;
            width: 101px;
            border-radius: 6px;
            height: 48px;
            margin-left: 8px;
            color: white;
            background-color: $pink;
            letter-spacing: 1px;
        }
    }
}

@import "adaptive.scss";