@import "nullstyle.scss";
@import "slider.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');

$pink: #de5d5d;

body{
    font-family: 'Varela Round', sans-serif;
    height: 1000vh;
    line-height: 1.2;
}
// .container{
//     max-width: 1170px !important;
//     padding: 0;
// }
header{
    background-color: $pink;
    .container{
        max-width: 1170px;
        padding: 0;
        margin: 0 auto;
        position: relative;
        .topbar__container {
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: space-between;
            align-items: end;
            img{
            padding-top: 34px;
            
            }
            .navbar {
                padding: 0;
                padding-bottom: 1px;
                ul{
                width: 761px;
                color: white;
                display: flex;
                justify-content: space-between;
                position: relative;
                .nav__active{
                    &::before{
                        content: "";
                        position: absolute;
                        top: -42px;
                        left: -24px;
                        width: 82px;
                        height: 5px;
                        background-color: #fff;
                    }
                }
                    li{
                        font-size: 18px;
                        line-height: 1.2;
                        font-weight: 400;
                        
                        a{
                            color: #ffffff;
                        }
                        &:not(:last-child){
                            margin-right: 42px;
                        }
                        &:nth-child(3),
                        &:nth-child(5){
                            margin-right: 43px;
                        }
                        &:nth-child(4){
                            margin-right: 46px;
                        }
                        &:nth-child(6){
                            margin-right: 39px;
                        }
                    }
                    
                }
            }
        }
    }
    .banner__container{
        // width: min-content;
        height: 722px;
        margin: auto;
        position: relative;
        color: #fff;
        overflow: hidden;
        padding: 33px;
        padding-left: 34px;
        padding-right: 15px;
        &::before{
            position: absolute;
            bottom: -250px;
            height: 650px;
            width: 150%;
            margin-left: -300px;
            content: "";
            -webkit-filter: blur(100px);
            filter: blur(150px);
            z-index: 2;
            background-color: #de5d5d;
        }
        h1{
            position: absolute;
            top: 230px;
            left: 376px;
            font-size: 88px;
            font-family: 'Montserrat' ,sans-serif;
            line-height: 1.2;
            font-weight: 600;
            letter-spacing: 1.15px;
            z-index: 3;
        }
        .cta{
            position: absolute;
            top: 408px;
            left: 530px;
            width: 543px;
            display: flex;
            justify-content: space-between;
            img{
                float: left;
                margin: 0;
                margin-left: 10px;
            }
            p{
                font-size: 30px;
                line-height: 1.2;
                margin-left: 65px;
                margin-top: 8px;
            }
            .appstore,
            .playmarket{
                width: 257px;
                height: 77px;
                border: 3px solid white;
                text-align: center;
                margin: 0;
                padding: 10px;
                border-radius: 5px;
                z-index: 3;
            }
        }
    }
}
main{
    .whyama{
        background-color: #fff;
        padding-top: 100px;
        font-family: 'Montserrat' ,sans-serif;
        h2{
            text-align: center;
            font-size: 48px;
            margin-left: 10px;
        }
        .ama__features{
            display: flex;
            justify-content: space-between;
            margin-top: 61px;
            gap: 90px;
            height: 476px;
            .feature{
                text-align: center;

            }
                h3{
                    margin-top: 36px;
                    margin-left: -10px;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 600;
                    color: #666666;
                    margin-bottom: 0;
                }
                img{
                    width: 230px;
                    height: 230px;
                }
                p{
                    font-family: 'Varela Round';
                    font-size: 16px;
                    padding: 0 30px;
                    line-height: 1.5;
                }
                .feature__autofocus{
                    h3{
                        margin-left: 9px;
                        margin-top: 38px;
                    }
                    img{
                        margin-right: -25px;
                        margin-top: -2px;
                    }
                    .feature__text p{
                        margin-left: 13px;
                        padding: 0px 10px;
                    }
                }
                .feature__touchid{
                    padding: 0 21px;
                    margin-left: 12px;
                    h3{
                        margin-left: -4px;
                    }
                    .feature__text p{
                        // margin-left: 15px;
                        padding: 0px 20px;
                    }
                }
                .feature__filters{

                    img{
                        margin-left: -10px;
                    }
                    .feature__text p{
                        margin-right: 11px;
                        padding: 0px 17px;
                    }
                }
        }
    }
    .share_instantly{
        background-color: #262626;
        height: 734px;
        overflow: hidden;
        .container{
            max-width: 1170px;
            padding: 0;
        }
        .row .image{
            margin-top: 72px;
            margin-left: -96px;
        }
        .share__content{
            margin-top: 170px;
            padding-top: 15px;
            padding-left: 96px;
            h3{
                font-family: 'Montserrat' ,sans-serif;
                font-size: 44px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 2px;
                color: white;
            }
            p{
                font-family: 'Varela Round', sans-serif;
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #aeaeae;
                margin-top: 21px;
                padding-right: 20px;
            }
            .youtube__button{
                margin-top: 52px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;
                img{
                    width: max-content;
                    height: max-content;
                }
                p{
                    margin: 0;
                    margin-top: -5px;
                    margin-left: 2px;
                    padding-right: 25px;
                    font-family: 'Varela Round';
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #aeaeae;
                }
            }
        }
    }
    .new_features{
        background-color: #313131;
        height: 803px;
        overflow: hidden;
        .phone__text{
            color: white;
            padding-top: 167px;
            padding-left: 84px;
            h3{
                font-family: Montserrat;
                font-size: 48px;
                line-height: 1.2;
                font-weight: 600;
                color: #ffffff;
                letter-spacing: 0.55px;
            }
            p{
                font-family: 'Varela Round';
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #aeaeae;
                margin-top: 22px;
                padding-left: 5px;
            }
        }
        
        .phone__picture img{
            margin-top: 100px;
            margin-left: 59px;
            }
    }
}