@import "nullstyle.scss";
@import "slider.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');

$pink: #de5d5d;
$p_color: #666666;

// hover effect for buttons AppStore and PlayMarket
@mixin button__hover{
    transform: scale(1.025);
    background-color: #e012126b;
    cursor: pointer;
    transition: all 0.33s ease;
}

body{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.2;
}


@import "header.scss";
@import "main_compatibility.scss";
@import "main_download.scss";
@import "main_new_features.scss";
@import "main_share_instantly.scss";
@import "main_taken_with_ama.scss";
@import "main_whyama.scss";
@import "footer.scss";
@import "adaptive.scss";